

  .left-body {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
    margin-top : 10px;
    width : 50%;
    float: left;
  }

  .right-body {
    overflow: hidden;
    padding: 10px 10px;
    width : 45%;
    float: right;
  }