<html>
    <head>
        <title> Subscriber The New Content Provider </title>
    </head>
    <div class="header">
        <h1> Meteor Entertainment </h1>
    </div>
    <div class="left-body">
        <h3> About our new Subscriber - The New Content Provider</h3>
        <p> This new model allows the existing subscribers to do the following : </p>
            <ul>
                <li> Upload their videos in the OTT </li>
                <li> Share the videos to unsubscribed users </li>
                <li> Incentivisation for the video makers </li>
            </ul>
    </div>
    <div class="right-body">
        Login Page
    </div>
</html>