
<html>
    <head>
        <meta charset="utf-8">
        <title>Registration</title>
        <link rel="stylesheet" type="text/css" href="registeration.component.css" />
        </head>
        <body>
        <div class="container">
            <section id="content">
                <form #register="ngForm" (ngSubmit)="createUser(register.value)">
                    <h1>Registration Form</h1>
                    <div>
                        <input type="text" placeholder="Username" required="" id="username" name="uname" />
                    </div>
                    <div>
                        <input type="text" placeholder="First Name" required="" id="first" name="fname"/>
                    </div>
                    <div>
                        <input type="text" placeholder="Last name" required="" id="last" name="lname"/>
                    </div>
                    <div>
                        <input type="email" placeholder="Email" required="" id="email" name="email"/>
                    </div>
                    <div>
                        <input type="date" placeholder="Date of Birth" required="" id="dob" name="dob" onfocus="(this.type='date')"
                        onblur="(this.type='text')" />
                    </div>
                    <div>
                        <input type="password" placeholder="Password" required="" id="password" minlength="8" name="pass"/>
                    </div>
                    <div>
                        <input type="submit" value="Register" />
                        <a href="#">Back</a>
                    </div>
                </form><!-- form -->
                
            </section><!-- content -->
        </div><!-- container -->
        </body>
    </html>
