{% extends 'video/base.html' %}
{% block content %}
    <h1> About MeteorLive! </h1>

    <h3> About our new Subscriber - The New Content Provider</h3>
            <p> This new model allows the existing subscribers to do the following : </p>
                <ul>
                    <li> Upload their videos in the OTT </li>
                    <li> Share the videos to unsubscribed users </li>
                    <li> Incentivisation for the video makers </li>
                </ul>

{% endblock content %}