<html>
    <head>
        <meta charset="utf-8">
        <title>Registration</title>
        <link rel="stylesheet" type="text/css" href="video-upload.component.css" />
        </head>
        <body>
        <div class="container">
            <section id="content">
                <form class="video-upload">
                    <h1>Video Upload</h1>
                    <div class="upload-btn-wrapper">
                        <button class="btn">Upload a video</button>
                        <input type="file" name="myfile" />
                      </div>
                    <div>
                        <label for="genre">Choose a genre:</label>
                        <select class="genres" name="genress">
                            <option value="Crime">Crime</option>
                            <option value="Thriller">Thriller</option>
                            <option value="Drama">Drama</option>
                            <option value="Learning">Learning</option>
                        </select>
                    </div>
                    <div>
                        <label for="age" class="cont"> Age group: </label>
                        <label class="cont">Age less than 18
                            <input type="checkbox" checked="checked">
                            <span class="checkmark"></span>
                          </label>
                          
                          <label class="cont"> Age less than 30
                            <input type="checkbox">
                            <span class="checkmark"></span>
                          </label>
                          
                          <label class="cont">Other
                            <input type="checkbox">
                            <span class="checkmark"></span>
                          </label>
                    </div>
                    <div>
                        <input type="text" placeholder="Description" required="" id="desc" name="desc" formControlName="desc" />
                    </div>
                    <div>
                        <input type="submit" value="Upload" />
                    </div>
                </form><!-- form -->
                
            </section><!-- content -->
        </div><!-- container -->
        </body>
    </html>
